@base: #629AA7;
@lighter2: lighten(spin(@base, 10), 20%);
@lighter3: lighten(spin(@base, 15), 30%);
@lighter4: lighten(spin(@base, 20), 40%);
@darker1: darken(spin(@base, -5), 10%);
@darker2: darken(spin(@base, -10), 20%);
@font: darken(spin(@base, -25), 50%);
@titleSize: 3em;

@font-face {
	font-family: Roboto;
	src: url('Roboto.ttf');
}

.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}

.transform (@rotate: 90deg, @scale: 1, @skew: 1deg, @translate: 10px) {
    -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    transform: rotate(@rotate) scale(@scale) skew(@skew) tranPslate(@translate);
}

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

.rounded-corners(@radius: 5px){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

* {
	text-decoration: none;
	margin: 0;	
	font-family: Roboto;
}

a{
	color: black;
}

header {
	h1{
		font-family: Roboto;
		text-align: center;
		display: block;
	}
	a#sidebar{
		//display: inline;
		text-align: right;
		float: right;
		//margin-top: 15px;
		margin-right: 5px;
	}
	height: 50px;
}

input {
	font-size: 15px;
	border:2px solid #dadada;	
}
input:focus{ 
	outline:none;
	border-color:#9ecaed;
	box-shadow:0 0 10px #9ecaed;
}​

div#Container{
	form#Login{
		margin-left: 37.5%;
		margin-right: 37.5%;
		background-color: @lighter2;
		width: 25%;
		//.rounded-corners;
		.box-shadow;
		font-family: Roboto;
		text-align: center;
	}
	div#Main{
		margin-left: 25%;
		margin-right: 25%; 
		width: 50%;
		div.data{
			h2{
				font-family: Roboto;
				//font-variant: Thin;
				text-align: center;
			}
			span.name{
				float: left;
				text-align: left;
				margin-left: 3px;
			}
			span.value{
				float: right;
				text-align: right;
				margin-right: 3px;
			}
			background-color: grey;
			margin-bottom: 10px;
		}
	}
}