div.data{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 10px;
}
span.name{
	float: left;
	text-align: left;
	margin-left: 3px;
}
span.value{
	float: right;
	text-align: right;
	margin-right: 3px;
}